{%extends 'base_html.html'%}
{%block content%}

<section ">
   <div class="container text-center mt-2 p-3">
        <h3>WE’VE CREATED A CAMPING EXPERIENCE THAT’S TURN-KEY AND HASSLE FREE.</h3>   
        <div class="row m-2">
         {% for instance in op_list %}  
            <div class="col-6 col-lg-3 mb-4">
               
                <div class="card">
                  
                        <img src="{{instance.image.url}}" alt="No image" class="card-img-top">
                        <div class="card-body">
                            <h2 class="card-title text-primary"><a href="{{ instance.get_absolute_url }}">{{instance.title }}</a></h2>
                            <p class="card-text">{{instance.description| truncatechars:20}}</p>
                            <p class="card-text">{{instance.price}}</p>
                            <p class="card-text">{{instance.sumary|truncatechars:20 }}</p>
                            <input type="radio" name="FREE" value="{{featured}}"> 
                            <p></p>
                            <a href="{{ instance.get_absolute_url }}" class="btn btn-lg btn-outline-primary mt-8">Product Detail</a>
                            <!-- <div class="col-6 col-sm-3 mb-6"> -->
                              <p></p>
                            <button class="btn btn-sm btn-outline-primary" ><a class="text-secondary"  href="{{ instance.get_absolute_url_update }}">Update</a></button>
                            <button class="btn btn-sm btn-outline-primary" ><a class="text-secondary"  href="{{ instance.get_absolute_url_delete }}">Delete</a></button>
                           <!-- </div> -->
                        </div>
                  
                </div>
                
            </div>
            {%endfor%}
            <!-- <div class="col-6 col-lg-3 mb-4">
               <div class="card">
                       <img src="images/winter.png" alt="" class="card-img-top">
                       <div class="card-body">
                           <h2 class="card-title text-primary">EXPERIENCE</h2>
                           <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, sint.</p>
                           <a href="" class="btn btn-lg btn-outline-primary">Go Somewhere</a>
                       </div>
               </div>
           </div>
           <div class="col-6 col-lg-3 mb-4">
            <div class="card">
                    <img src="images/winter.png" alt="" class="card-img-top">
                    <div class="card-body">
                        <h2 class="card-title text-primary">EXPERIENCE</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, sint.</p>
                        <a href="" class="btn btn-lg btn-outline-primary">Go Somewhere</a>
                    </div>
            </div>
        </div>
            <div class="col-6 col-lg-3 mb-4">
                <div class="card">
                        <img src="images/dogs.png" alt="" class="card-img-top">
                        <div class="card-body">
                            <!-- <h2 class="card-title text-primary">EXPLORE</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, sint.</p>
                            <a href="" class="btn btn-lg btn-outline-primary">Go Somewhere</a> --> 
                            
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container jumbotron  bg-grey">
   <!-- {{op_list}} -->
   
   <ul>
        {% for instance in op_list %}   
        <li>{{instance.id}}</li>
       <li><a href="{{ instance.get_absolute_url }}">{{instance.title }}</a></li>
       <li>{{instance.descritption }}</li>
       <li>{{instance.sumary }}</li>
       <li>{{instance.featured  }}</li>
       <li><img src="{{instance.image.url}}" alt="No image"></a></li>
       <button class="btn btn-primary" ><a class="text-secondary"  href="{{ instance.get_absolute_url }}">Product Detail</a></button>
       <button class="btn btn-primary" ><a class="text-secondary"  href="{{ instance.get_absolute_url_update }}">Update</a></button>
       <button class="btn btn-primary" ><a class="text-secondary"  href="{{ instance.get_absolute_url_delete }}">Delete</a></button>
        
        {%endfor%}
   </ul>
   
</div>

<!-- <input type="radio" name="gender" value="{{featured}}"> -->
{%endblock%}